<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
  <h1 th:text="'Your Facebook Email is - ' + ${user.email}"></h1>
  <h1 th:text="'Your Facebook First Name is - ' + ${user.firstName}"></h1>
  <h1 th:text="'Your Facebook Last Name is - ' + ${user.lastName}"></h1>
</body>
</html>