<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<html>
<head>
  <title>Show Employees</title>
</head>
<body>

<h3 style="color: red;">Show All Employees</h3>
<ul>
  <ul>
    <li th:each="employee : ${employees}" th:text="${employee}"></li>
  </ul>
</ul>
</body>
</html>